self.slider_moove([self.ids.right_3,self.ids.left_3,self.ids.right_4,self.ids.left_4],[-11,65,-65,11],0.05)
self.to_init()
eye(love)
time.sleep(4)
eye(normal)
eye(active)
time.sleep(5)
eye(100g)
eye(100v)
time.sleep(5)
eye(normal)