self.slider_moove([self.ids.head_1,self.ids.head_1,self.ids.head_1,self.ids.head_1,self.ids.head_1,self.ids.head_1],[27,44,27,44,27,44],0.05)
self.to_init(self.ids.head_1)
self.slider_moove([self.ids.left_3,self.ids.right_3,self.ids.left_4,self.ids.right_3],[54,-20,14,-53],0.05)
self.to_init(self.ids.left_3,elf.ids.left_4,self.ids.right_3,self.ids.right_4)
self.slider_moove([self.ids.head_1,self.ids.head_1,self.ids.head_1,self.ids.head_1,self.ids.head_1,self.ids.head_1],[27,44,27,44,27,44],0.05)
self.to_init(self.ids.head_1)
elf.slider_moove([self.ids.right_3,self.ids.head_5,self.ids.right_4],[-13,48,-47],0.05)
self.to_init(self.ids.right_3,self.ids.head_5,self.ids.right_4)
self.slider_moove([self.ids.left_3,self.ids.head_1,self.ids.head_1,self.ids.head_1,self.ids.head_1,self.ids.head_1,self.ids.head_1],[41,27,44,27,44,27,44],0.05)
self.to_init(self.ids.left_3,self.ids.head_1)
self.slider_moove([self.ids.right_3,self.ids.left_3,self.ids.right_2,self.ids.left_2],[-22,48,48,-50,],0.05)
self.to_init(self.ids.right_3,self.ids.left_3,self.ids.right_2,self.ids.left_2)